In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

schema = ['id','name','age','salary','country','dept']

emp_df = spark.createDataFrame(data=emp_data,schema=schema)

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
emp_df.count()

Out[5]: 10

In [0]:
emp_df.select(count("name")).show() # two null

+-----------+
|count(name)|
+-----------+
|          8|
+-----------+

In [0]:
emp_df.select(count("id")).show() # one null

+---------+
|count(id)|
+---------+
|        9|
+---------+

In [0]:
emp_df.count() #action - count

Out[12]: 10

In [0]:
emp_df.select(count("country")) #transformation -count , lazy evaluated

Out[13]: DataFrame[count(country): bigint]

In [0]:
emp_df.select(count("country")).show() # single column

+--------------+
|count(country)|
+--------------+
|             9|
+--------------+

In [0]:
emp_df.select(count("*")).show() #all column

+--------+
|count(1)|
+--------+
|      10|
+--------+

In [0]:
emp_df.select(sum("salary"),max("salary"),min("salary")).show()

+-----------+-----------+-----------+
|sum(salary)|max(salary)|min(salary)|
+-----------+-----------+-----------+
|     560000|     200000|      20000|
+-----------+-----------+-----------+

In [0]:
emp_df.select(sum("salary").alias("total_salary"),max("salary").alias("Max_salary"),min("salary").alias("min_salary")).show()

+------------+----------+----------+
|total_salary|Max_salary|min_salary|
+------------+----------+----------+
|      560000|    200000|     20000|
+------------+----------+----------+

In [0]:
emp_df.select(sum("salary"),count("salary"),avg("salary")).show()

+-----------+-------------+-----------+
|sum(salary)|count(salary)|avg(salary)|
+-----------+-------------+-----------+
|     560000|            8|    70000.0|
+-----------+-------------+-----------+

In [0]:
emp_df.select(sum("salary"),count("salary"),avg("salary").cast("int").alias("avg_salary")).show()

+-----------+-------------+----------+
|sum(salary)|count(salary)|avg_salary|
+-----------+-------------+----------+
|     560000|            8|     70000|
+-----------+-------------+----------+