In [0]:
from pyspark.sql.functions import *

In [0]:
data = [(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

schema = ['id','name','salary','dept']

emp_df = spark.createDataFrame(data=data,schema=schema)

emp_df.show()

+---+-------+------+---------+
| id|   name|salary|     dept|
+---+-------+------+---------+
|  1| manish| 50000|       IT|
|  2| vikash| 60000|    sales|
|  3|raushan| 70000|marketing|
|  4| mukesh| 80000|       IT|
|  5| pritam| 90000|    sales|
|  6| nikita| 45000|marketing|
|  7| ragini| 55000|marketing|
|  8| rakesh|100000|       IT|
|  9| aditya| 65000|       IT|
| 10|  rahul| 50000|marketing|
+---+-------+------+---------+

In [0]:
emp_df.groupby("dept")\
    .agg(sum('salary')).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     295000|
|    sales|     150000|
|marketing|     220000|
+---------+-----------+

In [0]:
emp_df.createOrReplaceTempView('emp_tbl')

In [0]:
spark.sql("""
          
        select dept,sum("salary")
        from emp_tbl
        group by dept

          """).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|       null|
|    sales|       null|
|marketing|       null|
+---------+-----------+

In [0]:
# calculate the total salary grouped by dept and country

# Define the data
data = [
    (1, 'manish', 50000, 'IT', 'india'),
    (2, 'vikash', 60000, 'sales', 'us'),
    (3, 'raushan', 70000, 'marketing', 'india'),
    (4, 'mukesh', 80000, 'IT', 'us'),
    (5, 'pritam', 90000, 'sales', 'india'),
    (6, 'nikita', 45000, 'marketing', 'us'),
    (7, 'ragini', 55000, 'marketing', 'india'),
    (8, 'rakesh', 100000, 'IT', 'us'),
    (9, 'aditya', 65000, 'IT', 'india'),
    (10, 'rahul', 50000, 'marketing', 'us')
]

# Define the schema
schema = ['id', 'name', 'salary', 'dept', 'country']

# Create DataFrame
df = spark.createDataFrame(data, schema)

In [0]:
from pyspark.sql.window import Window

In [0]:

# Define the WindowSpec for grouping by dept and country
window_spec = Window.partitionBy('dept', 'country')

# Calculate the total salary using the Window function
df_with_total_salary = df.withColumn('total_salary', sum('salary').over(window_spec))

# Drop duplicate rows to show unique dept and country combinations with total salary
result_df = df_with_total_salary.select('dept', 'country', 'total_salary').distinct()

# Show the result
result_df.show()

+---------+-------+------------+
|     dept|country|total_salary|
+---------+-------+------------+
|       IT|  india|      115000|
|       IT|     us|      180000|
|marketing|  india|      125000|
|marketing|     us|       95000|
|    sales|  india|       90000|
|    sales|     us|       60000|
+---------+-------+------------+