In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.master('local[1]')\
        .appName('Testing')\
        .config('spark.sql.shuffle.partitions',3)\
        .config('spark.sql.adaptive.enabled','false')\
        .getOrCreate()

In [3]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f6fc5f20610>

In [4]:
id_values = [1] * 1000000 + [2] * 5 + [3] * 5
table1 = spark.createDataFrame(id_values,"int").toDF("id")

In [5]:
id_values = [1] * 100 + [2] * 5 + [3] * 2
table2 = spark.createDataFrame(id_values,"int").toDF("id")
print(table2.show())
# print(id_values)

+---+
| id|
+---+
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
+---+
only showing top 20 rows

None

In [16]:
data = table1.join(table2,'id','inner')
print(data.count())

100000035

In [6]:
df_with_random = table1.withColumn("random_num",(rand() * 10 + 1).cast("int"))
print(df_with_random.show())

+---+----------+
| id|random_num|
+---+----------+
|  1|         5|
|  1|         8|
|  1|        10|
|  1|         7|
|  1|         8|
|  1|        10|
|  1|         4|
|  1|         1|
|  1|         4|
|  1|         5|
|  1|         5|
|  1|         8|
|  1|         5|
|  1|         9|
|  1|         7|
|  1|         1|
|  1|         6|
|  1|        10|
|  1|         5|
|  1|         9|
+---+----------+
only showing top 20 rows

None

In [14]:
table1 = df_with_random.withColumn("salted_key",concat(expr("id"),lit('_'),expr("random_num")))
print(table1.show())

+---+----------+----------+
| id|random_num|salted_key|
+---+----------+----------+
|  1|         5|       1_5|
|  1|         8|       1_8|
|  1|        10|      1_10|
|  1|         7|       1_7|
|  1|         8|       1_8|
|  1|        10|      1_10|
|  1|         4|       1_4|
|  1|         1|       1_1|
|  1|         4|       1_4|
|  1|         5|       1_5|
|  1|         5|       1_5|
|  1|         8|       1_8|
|  1|         5|       1_5|
|  1|         9|       1_9|
|  1|         7|       1_7|
|  1|         1|       1_1|
|  1|         6|       1_6|
|  1|        10|      1_10|
|  1|         5|       1_5|
|  1|         9|       1_9|
+---+----------+----------+
only showing top 20 rows

None

In [10]:
table2_replicated = table2.withColumn("sequence", array([lit(i) for i in range(1,11)]))
table2_replicated.show(20,truncate=False)

+---+-------------------------------+
|id |sequence                       |
+---+-------------------------------+
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|1  |[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
+---+-------------------------------+
only showing top 20 rows

In [11]:
table2 = table2_replicated.withColumn("exploded_col",explode(col("sequence")))\
            .withColumn("salted_key",concat(expr("id"),lit("_"),(expr("exploded_col"))))\
            .drop("exploded_col","sequence")

In [12]:
data = table1.join(table2,'salted_key','inner')
print(data.count())

100000035

In [ ]:
input("Enter somethign here")