In [0]:
# Application  - sparksubmit command to cluster  to run job is call application
# job - each action is called job
# stage - no. of transformations is called stage
# task - actual execution is called task

In [0]:
df = spark.read.csv("dbfs:/FileStore/demo_folder/employee_dataset.csv",header=True,inferSchema=True)
df.show()

+----------+-----------------+---+----------+-----------+------+------------+
|EmployeeID|             Name|Age|Department|JoiningDate|Salary|        City|
+----------+-----------------+---+----------+-----------+------+------------+
|         1|       Jon Rivera| 56|     Sales| 2024-04-29|121250|     Houston|
|         2|   Nicole Daniels| 46|        HR| 2024-04-01|138633|    New York|
|         3| Monique Sullivan| 32|   Finance| 2020-05-02| 83619|Philadelphia|
|         4|     James Wright| 60| Marketing| 2023-02-21|129751|    New York|
|         5|  Nicole Williams| 25|     Sales| 2018-04-29|123193|     Chicago|
|         6|      David Bates| 38|     Sales| 2019-03-12| 98719|      Dallas|
|         7|    Matthew Riggs| 56| Marketing| 2019-11-06| 71156| Los Angeles|
|         8|     Wendy Powers| 36|Operations| 2023-07-30| 73901|      Dallas|
|         9|   Thomas Collins| 40|   Support| 2018-10-12| 30418|Philadelphia|
|        10|      Joshua Wong| 28|        IT| 2022-05-17| 89252| San Antonio|
|        11|   Dakota Shields| 28|        HR| 2018-02-24|114528|      Dallas|
|        12|    Angelica Wade| 41|        HR| 2015-06-29|130914|     Phoenix|
|        13|   Allison Miller| 53| Marketing| 2019-09-19|108950|      Dallas|
|        14|     Ryan Morales| 57| Marketing| 2021-05-13|130007|      Dallas|
|        15| Elizabeth Lawson| 41|Operations| 2022-11-12| 94927| Los Angeles|
|        16|  Diamond Gardner| 20|     Sales| 2016-04-01| 71276|     Houston|
|        17|      Cindy Avila| 39|        HR| 2018-06-03| 46127|     Houston|
|        18|      April Heath| 19|     Sales| 2023-10-08| 43061| Los Angeles|
|        19|Gilbert Fernandez| 41|   Finance| 2015-02-02|121576|    New York|
|        20|    Tyler Gregory| 61|     Sales| 2018-03-27| 70422|     Phoenix|
+----------+-----------------+---+----------+-----------+------+------------+
only showing top 20 rows

In [0]:
# Partitioning and Parallelism Optimization in Spark

from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("PartitioningOptimization").getOrCreate()
empDf = spark.read.csv("dbfs:/FileStore/demo_folder/employee_dataset.csv",header=True,inferSchema=True)

In [0]:
empDf.write.mode("overwrite").partitionBy("Department").parquet("dbfs:/FileStore/demo_folder13/")

In [0]:
spark.read.parquet("dbfs:/FileStore/demo_folder13/Department=Finance/part-00001-tid-4893172150368010465-0d2058e1-d01a-41f7-b6af-bcc0bef853a5-223-1.c000.snappy.parquet").show()

+----------+-----------------+---+-----------+------+------------+
|EmployeeID|             Name|Age|JoiningDate|Salary|        City|
+----------+-----------------+---+-----------+------+------------+
|   1275135|  Natalie Bradley| 58| 2020-10-10|115570|    New York|
|   1275152|     Kyle Gregory| 53| 2018-06-13|149212|     Houston|
|   1275159|   Teresa Compton| 21| 2023-11-12|104425|     Phoenix|
|   1275177|     John Fuentes| 24| 2022-08-18| 34800|Philadelphia|
|   1275182|    Hannah Rivera| 62| 2019-04-07| 97046|     Houston|
|   1275185|   Jennifer Braun| 46| 2015-05-12|127498|      Dallas|
|   1275191| Christian Carter| 24| 2022-03-19| 39445| Los Angeles|
|   1275205|     Anthony Luna| 51| 2016-04-23|109995|      Dallas|
|   1275208| Jennifer Mcclain| 49| 2023-06-06| 86345| Los Angeles|
|   1275214|Christopher Hodge| 48| 2018-08-31| 83242|     Houston|
|   1275217|   Alejandro Chan| 49| 2015-11-01|112688|      Dallas|
|   1275218|Alexander Vaughan| 40| 2018-01-18| 55965|    New York|
|   1275233|   Carolyn Snyder| 45| 2016-05-13|126100|     Phoenix|
|   1275238|     Rachel Garza| 60| 2018-02-11| 84826|Philadelphia|
|   1275240|        Adam Gill| 42| 2023-09-10| 36363| Los Angeles|
|   1275261|     Linda Garcia| 39| 2024-02-05| 99515|    New York|
|   1275264|   Brandon Morton| 37| 2018-08-27|131310|     Houston|
|   1275286|  Shelly Morrison| 18| 2017-10-04|142532|      Dallas|
|   1275292|    Thomas Thomas| 52| 2023-04-06| 48482| San Antonio|
|   1275300|     Maria Bowman| 22| 2020-10-25|135660|      Dallas|
+----------+-----------------+---+-----------+------+------------+
only showing top 20 rows

In [0]:
print(f"Default number of partitions: {empDf.rdd.getNumPartitions()}")

Default number of partitions: 8

In [0]:
# Increase parallelism During Shuffles

spark.conf.set("spark.sql.shuffle.partitions",200)

agg_df = empDf.groupBy("Department").count()
agg_df.show()

+----------+-------+
|Department|  count|
+----------+-------+
|     Sales|1428770|
|        HR|1430234|
|   Finance|1427169|
| Marketing|1428760|
|        IT|1429511|
|   Support|1428311|
|Operations|1427245|
+----------+-------+

In [0]:
agg_df.explain(True)

== Parsed Logical Plan ==
'Aggregate ['Department], ['Department, count(1) AS count#488L]
+- Relation [EmployeeID#459,Name#460,Age#461,Department#462,JoiningDate#463,Salary#464,City#465] csv

== Analyzed Logical Plan ==
Department: string, count: bigint
Aggregate [Department#462], [Department#462, count(1) AS count#488L]
+- Relation [EmployeeID#459,Name#460,Age#461,Department#462,JoiningDate#463,Salary#464,City#465] csv

== Optimized Logical Plan ==
Aggregate [Department#462], [Department#462, count(1) AS count#488L]
+- Project [Department#462]
   +- Relation [EmployeeID#459,Name#460,Age#461,Department#462,JoiningDate#463,Salary#464,City#465] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[Department#462], functions=[finalmerge_count(merge count#499L) AS count(1)#487L], output=[Department#462, count#488L])
   +- Exchange hashpartitioning(Department#462, 200), ENSURE_REQUIREMENTS, [plan_id=508]
      +- HashAggregate(keys=[Department#462], functions=[partial_count(1) AS count#499L], output=[Department#462, count#499L])
         +- FileScan csv [Department#462] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/FileStore/demo_folder/employee_dataset.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Department:string>

In [0]:
repartition_df = empDf.repartition(100,col("Department"))

result_df = repartition_df.groupBy(col("Department")).agg(avg("Salary").alias("avg_Salary"))

In [0]:
repartition_df.write.mode("overwrite").parquet("dbfs:/FileStore/demo_folder10/")

In [0]:
spark.read.parquet('dbfs:/FileStore/demo_folder10/part-00021-tid-851087917284295486-16a99efb-7717-4fd9-b024-3299536d357a-77-1-c000.snappy.parquet',header=True,inferSchema=True).show()

+----------+--------------------+---+----------+-----------+------+------------+
|EmployeeID|                Name|Age|Department|JoiningDate|Salary|        City|
+----------+--------------------+---+----------+-----------+------+------------+
|         4|        James Wright| 60| Marketing| 2023-02-21|129751|    New York|
|         7|       Matthew Riggs| 56| Marketing| 2019-11-06| 71156| Los Angeles|
|        13|      Allison Miller| 53| Marketing| 2019-09-19|108950|      Dallas|
|        14|        Ryan Morales| 57| Marketing| 2021-05-13|130007|      Dallas|
|        26|      Jason Marshall| 29| Marketing| 2018-11-09| 85932|      Dallas|
|        40|      Elizabeth Love| 38| Marketing| 2016-01-17| 61988|      Dallas|
|        41|Christopher Cruz DDS| 26| Marketing| 2016-11-22|144849|      Dallas|
|        80|   Anthony Hernandez| 57| Marketing| 2016-01-04| 47130| Los Angeles|
|        83|       Michelle Neal| 62| Marketing| 2020-11-28| 40823|     Phoenix|
|        92|         Alexis Wood| 32| Marketing| 2020-04-26|129484| San Antonio|
|        97|        Oscar Little| 26| Marketing| 2015-08-11|100640| San Antonio|
|        98|        Frank Phelps| 41| Marketing| 2022-04-11| 85610|    New York|
|       105|  Dr. Lawrence Perez| 25| Marketing| 2022-07-09| 74334|     Chicago|
|       127|     Crystal Skinner| 44| Marketing| 2018-07-07|123185|     Phoenix|
|       128|        Amber Morris| 52| Marketing| 2022-12-05| 84249| Los Angeles|
|       141|         Jaime Smith| 26| Marketing| 2018-12-29| 55717| San Antonio|
|       143|     Alexis Robinson| 32| Marketing| 2022-10-26| 39399|      Dallas|
|       148|           Ray Rocha| 56| Marketing| 2021-08-20|112583| San Antonio|
|       152|        Ronald Novak| 54| Marketing| 2021-05-05|130793|Philadelphia|
|       155|      Kimberly Mcgee| 62| Marketing| 2020-12-30| 42011| San Antonio|
+----------+--------------------+---+----------+-----------+------+------------+
only showing top 20 rows

In [0]:
final_df = result_df.coalesce(3)

final_df.write.mode("overwrite").parquet("dbfs:/FileStore/demo_folder12/")

In [0]:
spark.read.parquet("dbfs:/FileStore/demo_folder12/part-00000-tid-1762136447601742868-a192849b-c39b-4ed3-8782-5e42f2a8666a-216-1-c000.snappy.parquet").show()

+----------+-----------------+
|Department|       avg_Salary|
+----------+-----------------+
|     Sales|90004.43771495762|
| Marketing|89978.62071866513|
|        IT|89968.35851910198|
+----------+-----------------+

In [0]:
newDf = empDf.groupBy("Department")
newDf.show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-2789666227908671>:2
      1 newDf = empDf.groupBy("Department")
----> 2 newDf.show()

AttributeError: 'GroupedData' object has no attribute 'show'